body{
    background-image: url("./image/dog.png");
    margin: 0;
}
.app{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    text-align: center;
    background-color: bisque;
    padding: 12px;
}
.header select{
    font-size: 1.2rem;
    padding: 8px;
}
.slideshow{
    flex: 1;
    background-color: rgb(14, 12, 12);
    position: relative;
    overflow: hidden;
    opacity: .9;
    
}

.slide{
    width: 50%;
    margin: 5% auto;
    opacity: 0;
    transform: scale(1);
    transition: all .9s ease-out;
    box-shadow: 4px 4px 4px 4px rgb(104, 101, 101);
}
.slide:nth-last-child(2){
    opacity: 1;
    transform: scale(1.08);

}
.slide img{
   width: 100%;
}
@media screen and(max-width:575px){
    .slide{
        width: 100%;
    }
    
}

@media screen and(max-width:414px){
    .slide{
        width: 100%;
    }
    
}
@media screen and(max-width:390px){
    .slide{
        width: 100%;
    }
    
}
